<div class='logo'>
  <h1><%= link_to 'lmrtfy.com', home_path, id: "title_link" %></h1>
</div>

<nav class="custom-nav navbar">
  <div class="container">
    <div id="navbar">
      <% if current_user %>
        <ul class="nav nav-pills pull-left list-inline">
          <li class="list-inline-item">
            <%= link_to current_user.email, edit_user_registration_path, id: "user-edit-email", method: :get %></li>
          <li class="list-inline-item">
            <%= link_to 'Sign Out', destroy_user_session_path, id: "user-sign-out", method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav nav-pills pull-left">
          <li>
            <%= link_to 'Sign Up', new_user_registration_path, id: "user-sign-up" %></li>
          <li>
            <%= link_to 'Log In', new_user_session_path, id: "user-sign-in" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
