<h3>Reddit.com</h3>

<div class="search-container">
  <% if @search.errors.any? %>
    <div id="error_explanation">
<!--       <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

 -->      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@search, remote: true) do |f| %>
    <%= f.label "User name" %>
    <%= f.text_field :term, id: 'term', placeholder: "Which username?" %><br><br>
    <%=f.submit "Search", class: "btn btn-primary"%>
  <% end %>

  <section id="result"></section>

</div>