<!DOCTYPE html>
<html>
  <head>
    <title>Let Me Reserve That For You - lmrtfy.com</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <%= gflash %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/nav' %>
        <%= yield %>
      </div>
    </div>
  </div>
  
  <%= js add_gritter(flash[:notice], title: "lmtrfy.com notification", sticky: false ) %>

  </body>
</html>
